body{
    background-color: #2c2e28;
}

.title-login{
    font-size: 36px;
    font-family: 'Verdana' ,sans-serif;
    font-weight: 400;
    color: #444;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

select{
    width: 158px;
    padding: auto;
    margin: auto;
}

.form {
    background: #259c2c;
    padding: 30px;
    text-align: center;  
}

.input-password{
    size: 18px;
    font-size: 18px;/*Dimension de la letra*/
    width: 400px;
    max-width: 100%; 
    box-sizing: border-box;
    border-top-right-radius: 10px ;/*   Libro:Css Avanzado; Autor:Javier Eguíluz Pérez; Pagina 27     */
    border-top-left-radius: 10px ;/*Atributos para que las esquinas sean redondas*/
    border-bottom-left-radius: 10px;/*arriba y abajo instrucciones diferentes*/
    border-bottom-right-radius: 10px;
}

.btn-ingreso{
    font-weight: 100;
    color: white;
    font-size: 16px;
    padding: .9em .9em;/*Tamaño del boton*/
    width: 400px;
    max-width: 100%; 
    box-sizing: border-box;
    background-color: #1c1f1d ; 
}


.select-login{
    display:block;/*Valor para que el login sea una "caja"*/
    font-size: 16px;
    font-family: 'Verdana', sans-serif;/*Estilo para el texto(fuente)*/
    font-weight: 400;/*El ancho de su fuente*/
    padding: .4em 1.4em .3em .8em;
    width: 400px;
    max-width: 100%; 
    appearance: none;/*Para desaparecer la flecha de la lista*/
    box-sizing: border-box;
    border-top-right-radius: 10px ;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

